// @use "@/styles/variables.module.scss";

.red {
  //   background-color: variables.$blue;
  background-color: red;
}

.green {
  //   background-color: variables.$blue;
  background-color: green;
}

.blue {
  //   background-color: variables.$blue;
  background-color: blue;
}
